coreapi==2.3.3
coverage==7.3.0
diskcache==5.6.1
dj-database-url==2.1.0
django-bootstrap-v5==1.0.11
django-filter==23.2
django-rest-swagger==2.2.0
Django==4.2.4
djangorestframework-api-key==2.3.0
djangorestframework==3.14.0
drf-yasg==1.21.7
Faker==19.3.1
gunicorn==21.2.0
lxml==4.9.3
Markdown==3.4.4
psycopg2-binary==2.9.7
Pygments==2.16.1
pytest-django==4.5.2
pytest-html==3.2.0
pytest-parallel==0.1.1
pytest==7.4.0
PyYAML==6.0.1
testtools==2.6.0
tqdm==4.66.1
watchdog==3.0.0
whitenoise==6.5.0
channels==4.0.0
graphene-django==3.1.5
psutil==5.9.5
whitenoise==6.5.0
xmltodict==0.13.0
